.page-header
  %h2.no-top= @page_title = @page.new_record? ? "Ajouter une nouvelle page" : "Modifier une page"

= simple_form_for [:admin, @page], html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: {check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_radio_and_checkboxes} do |f|
  = f.input :code
  = f.input :title
  = f.input :body
  .row
    .col-12
      %ul.pull-right.list-inline
        %li.list-inline-item= link_to 'Retour', {action: :index}, class: "btn btn-link"
        %li.list-inline-item= f.submit "Enregistrer", class: "btn btn-primary btn-raised"
