%h2.no-top= @page_title = "Toutes les pages"
= link_to 'Ajouter une nouvelle page', new_admin_page_path, class: "btn btn-primary" if current_user.is_admin?
%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th Titre
      %th Code
      %th Ajout
      %th Modification
      %th
  %tbody
    - for page in @pages
      %tr
        %td= page.title
        %td= page.code
        %td= I18n.l page.created_at, format: :datetime
        %td= I18n.l page.updated_at, format: :datetime
        %td
          %ul.list-inline
            %li.list-inline-item= link_to fa_icon('edit', title: 'Modifier'), [:edit, :admin, page]
            - if current_user.is_admin?
              %li.list-inline-item= link_to fa_icon('trash-alt', title: 'Supprimer'), [:admin, page], method: :delete, data: {confirm: 'Voulez-vous vraiment supprimer cette page ?'}
