- @page_title = @startup.new_record? ? "Ajouter une nouvelle startup" : "Modifier une startup"
= simple_form_for [:admin, @startup], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  =# link_to 'Retour', {action: :index}, class: "btn btn-link"
  .row
    .col-12.col-md-8
      .form-group.bmd-form-group.bmd-form-group-lg
        = f.text_field :name, class: 'form-control form-control-lg', placeholder: 'Ajoutez un nom'
      .form-group.bmd-form-group.bg-light
        = f.text_field :email, class: 'form-control', placeholder: 'Ajoutez un email'
      .form-group.bmd-form-group.bg-light
        = f.text_field :url, class: 'form-control', placeholder: 'Ajoutez un lien vers le site web'
    .col-12.col-md-4
      = f.submit "Enregistrer", class: "btn btn-raised btn-primary "
  .row
    .col-12.col-md-8
      .form-group.bmd-form-group.bg-light
        = f.text_area :description, placeholder: 'Description', class: 'form-control'
    .col-12.col-md-4
      - if current_user.is_admin?
        .d-flex.flex-row.align-items-center.mb-3
          .mr-2 Accepté le :
          .form-group.bmd-form-group.bg-light.mb-0
            = f.date_field :added_on, class: 'form-control'
          .mx-2 à
          .form-group.bmd-form-group.bg-light.mb-0.d-flex.align-items-center
            = f.time_select :added_on, {}, class: 'bmd-form-group form-control pb-0'
      .checkbox.form-group.bmd-form-group
        %label
          = f.check_box :is_published
          %span.checkbox-decorator
            %span.check
          Publié ?
      .form-group.bmd-form-group.bg-light
        = f.text_field :tag_list, class: 'form-control', placeholder: 'Mots-clés'
      .form-group.bmd-form-group
        = f.input :logo, as: :image_preview, input_html: {preview_version: :small}
