.page-header
  %h2.no-top= @page_title = @startup.new_record? ? "Ajouter une nouvelle startup" : "Modifier une startup"

= simple_form_for [:admin, @startup], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  = f.input :logo, as: :image_preview, input_html: {preview_version: :small}
  = f.input :name
  = f.input :email
  = f.input :url
  = f.input :tag_list
  = f.input :description
  = f.input :is_published, as: :boolean
  - if current_user.is_admin?
    = f.input :added_on, as: :datetime, html5: true, input_html: {data: {provide: 'datepicker'}}
  .row
    .col-12
      %ul.pull-right.list-inline
        %li.list-inline-item= link_to 'Retour', {action: :index}, class: "btn btn-link"
        %li.list-inline-item= f.submit "Enregistrer", class: "btn btn-primary btn-raised"
