%h2.no-top= @page_title = current_user.is_admin? ? "Toutes les startups" : "Édition de #{ @startups.first.name }"
= link_to 'Ajouter une nouvelle startup', new_admin_startup_path, class: "btn btn-primary" if current_user.is_admin?
%table.table.table-condensed.table-hover.table-striped
  %thead
    %tr
      %th Logo
      %th Nom
      %th Ajouté
      %th Modifié
      %th Accepté
      %th Publié ?
      %th Comptes liés
      %th
  %tbody
    - for startup in @startups
      %tr
        %td= image_tag(startup.logo_url(:small), class: "img-responsive-fixed-height", style: "height:50px;margin:5px 0;") if startup.logo.file?
        %td= startup.name
        %td= I18n.l startup.created_at, format: :datetime
        %td= I18n.l startup.updated_at, format: :datetime
        %td= I18n.l startup.added_on, format: :added_on_short if startup.added_on
        %td= startup.is_published? ? "oui" : "non"
        %td
          %ul.list-unstyled
            - for user in startup.users
              %li= user.email
        %td
          %ul.list-inline
            %li= link_to fa_icon('edit', title: 'Modifier'), [:edit, :admin, startup]
            - if current_user.is_admin?
              %li= link_to fa_icon('trash', title: 'Supprimer'), [:admin, startup], method: :delete, data: {confirm: 'Voulez-vous vraiment supprimer cette startup ?'}

=# will_paginate @startups, renderer: BootstrapPagination::Rails
