%h2.no-top= @page_title = current_user.is_admin? ? "Toutes les startups" : "Édition de #{ @startups.first.name }"
= link_to 'Ajouter une nouvelle startup', new_admin_startup_path, class: "btn btn-primary" if current_user.is_admin?
%table.table.table-condensed.table-hover.table-striped
  %tbody
    - for startup in @startups
      %tr
        %td= image_tag(startup.logo.url(:small)) if startup.logo.file?
        %td= startup.name
        %td= I18n.l startup.added_on, format: :added_on if startup.added_on
        %td
          %ul.list-inline
            %li= link_to fa_icon('edit', title: 'Modifier'), [:edit, :admin, startup]
            - if current_user.is_admin?
              %li= link_to fa_icon('trash', title: 'Supprimer'), [:admin, startup], method: :delete, data: {confirm: 'Voulez-vous vraiment supprimer cette startup ?'}

= will_paginate @startups, renderer: BootstrapPagination::Rails
