.col-xs-6.col-sm-3.startup.text-center
  = link_to startup do
    = image_tag startup.logo_url(:medium), alt: "Logo #{startup.name}", class: "img-responsive-fixed-height"
    %strong= startup.name
    - if (tags = startup.tags).any?
      %ul.list-inline
        - for tag in tags
          %li
            %small= link_to "##{ tag }", startups_path(tag: tag)
