%section.bg-white
  .container
    .row
      .col-12
        %h1= @page_title = t("views.startups.index.page_title")
    .row
      .col-12
        .h3
          = t("views.startups.index.count_active", count: @startups.count)
          - if params[:tag].present?
            %br
            %small= "avec le tag #{params[:tag]}"

    .card-deck.startups-list
      = render @startups
