.startup-info.template
  %span.name
  %br/
  %span.description
  %br/
  %span.address

.fill
  #startups-panel
    %ul.unstyled.startups
      - @startups.reverse.each do |s|
        %li
          %p.name= s.name
          = image_tag(s.logo.url(:small)) if s.logo.file?
          %p= s.description(I18n.locale)
          %ul.inline.links
            %li= link_to t("startup.more"), s
            %li
              \|
            %li= link_to t("startup.mark"), "#", class: "open_infoWindow", data: {lat: s.coordinates.first, lng: s.coordinates.last, name: s.name, description: s.description(I18n.locale), address: s.address, url: s.url}
  #map
