.container-narrow
	%h1 Ajouter une start-up
	= simple_form_for @startup  do |f|
		= f.error_notification
		= f.input :name, input_html: {class: 'input-xxlarge'}
		= f.input :url, input_html: {class: 'input-xxlarge'}
		= f.input :street, input_html: {class: 'input-xxlarge'}
		= f.input :zip_code, input_html: {class: 'input-xxlarge'}
		= f.input :city, input_html: {class: 'input-xxlarge'}
		= f.input :email, input_html: {class: 'input-xxlarge'}
		= f.input :logo
		= f.input :description, input_html: {class: 'input-xxlarge', :maxlength => '500', :lenghtcut => true}, as: :text
		%i
			Characters left
			%span#char-count
		%br/
		%br/
		= f.button :submit, "Envoyer", :class => "btn btn-large btn-primary"
