- @page_title = "Présentation de #{ @startup.name }"
- @page_description = @startup.description
.row
  .col-xs-12
    = link_to startups_path, class: "btn btn-transparent", style: "margin-bottom:20px;" do
      = fa_icon "angle-left"
      = t("views.common.back_to_map")

.row
  .col-xs-12.col-sm-6{style: "padding-top:50px;"}
    - if @startup.logo.file?
      - if @startup.logo_file_name.ends_with?("svg")
        = image_tag(@startup.logo.url, style: "width:70%;display:block;margin: 0 auto;")
      - else
        = image_tag(@startup.logo.url, class: "img-responsive", style: "margin: 0 auto;")
  .col-xs-12.col-sm-6
    %h1.no-top= @startup.name
    = link_to @startup.url, @startup.url, target: "_blank"
    %br
    = mail_to @startup.email if @startup.email
    %p.address= @startup.address
    = @startup.description.html_safe
