.container
  .row
    .span6
      = image_tag(@startup.logo.url(:medium)) if @startup.logo.file?
    .span6
      %h1.startup_name= @startup.name
      = link_to @startup.url, @startup.url, target: "_blank"
      %br
      = mail_to @startup.email
      %p.address= @startup.address
      = simple_format @startup.description_en
      = simple_format @startup.description_fr
      = link_to t("nav.back_to_map"), "/"
