- @page_title = "Présentation de #{ @startup.name }"
- @page_description = @startup.description.to_plain_text
- @og_image = url_for(@startup.logo) if @startup.logo.attached?
%section
  .container
    .row
      .col-12
        = link_to startups_path, class: "btn" do
          = fa_icon "angle-left"
          &nbsp;
          = t("views.common.return_startups_list")

    .row
      .col-12.col-md-4{style: "padding-top:50px;"}
        - url = @startup.logo.filename.to_s.ends_with?('svg') ? @startup.logo : @startup.logo.variant(resize_to_limit: [500, 500])
        = image_tag url, alt: "Logo #{@startup.name}", title: @startup.name, style: "width:80%;display:block;margin: 0 auto;"
      .col-12.col-md-8
        %h1= @startup.name
        - if (tags = @startup.tags).any?
          %ul.list-inline
            - for tag in tags
              %li.list-inline-item
                = link_to "##{ tag }", startups_path(tag: tag)
        = link_to @startup.url, @startup.url, target: "_blank"
        %br
        = mail_to @startup.email if @startup.email
        %p.address= @startup.address
        = @startup.description
