#wrap
	= link_to "Retour à la carte", "/"
	#left-col
		= image_tag(@startup.logo, :size => "300x400") if @startup.logo.file?

	#right-col
		%h1
			= @startup.name
		%a{:href => @startup.url} Site web
		%br/
		%a{:href => "mailto:#{@startup.email}"} Contact
		%p.address= @startup.address
		%p= @startup.description
