#wrap
	#left-col
		= image_tag(@startup.logo, :size => "300x400") if @startup.logo.file?

	#right-col
		%h1
			= @startup.name
		%a{:href => @startup.url} Website
		%br/
		%a{:href => "mailto:#{@startup.email}"} Email
		%p.address= @startup.address
		%p= @startup.description
		= link_to "Back to map", "/"
