- @page_title = @headline.new_record? ? "Ajouter une nouvelle actualité" : "Détails d'une actualité"
= simple_form_for [:admin, @headline], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  =# link_to 'Retour', {action: :index}, class: "btn btn-link"
  .row
    .col-12.col-md-8
      .form-group.bmd-form-group.bmd-form-group-lg
        = f.text_field :title, class: 'form-control form-control-lg', placeholder: 'Ajoutez un titre'
      .d-flex.flex-row.align-items-center.mb-3
        .form-group.bmd-form-group.bg-light.mb-0
          = f.date_field :published_at, class: 'form-control'
        .mx-2 à
        .form-group.bmd-form-group.bg-light.mb-0.d-flex.align-items-center
          = f.time_select :published_at, {}, class: 'bmd-form-group form-control pb-0'
    .col-12.col-md-4
      = f.submit "Enregistrer", class: "btn btn-raised btn-primary "
  .row
    .col-12.col-md-8
      .form-group.bmd-form-group.bg-light
        = f.rich_text_area :body, placeholder: 'Contenu'
    .col-12.col-md-4
      .checkbox.form-group.bmd-form-group
        %label
          = f.check_box :is_focus
          %span.checkbox-decorator
            %span.check
          Mis en avant ?
      .form-group.bmd-form-group.bg-light
        = f.text_field :tag_list, class: 'form-control', placeholder: 'Mots-clés'
      .form-group.bmd-form-group
        = f.input :banner, as: :image_preview, input_html: {preview_version: :small}


