.page-header
  %h2.no-top= @page_title = @headline.new_record? ? "Ajouter une nouvelle actualité" : "Modifier une actualité"

= simple_form_for [:admin, @headline], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  = f.input :banner, as: :image_preview, input_html: {preview_version: :small}
  = f.input :title
  = f.input :body
  = f.input :published_at, as: :datetime, html5: true, input_html: {data: {provide: 'datetimepicker'}}
  = f.input :is_focus, as: :boolean
  = f.input :tag_list
  .row
    .col-12
      %ul.pull-right.list-inline
        %li.list-inline-item= link_to 'Retour', {action: :index}, class: "btn btn-link"
        %li.list-inline-item= f.submit "Enregistrer", class: "btn btn-primary btn-raised"
