.page-header.d-flex
  %h2.mr-auto= @page_title = "Toutes les actualités"
  = link_to 'Ajouter une nouvelle actualité', new_admin_headline_path, class: "btn btn-primary btn-raised"
%table.table.table-condensed.table-hover.table-striped
  %tbody
    - for headline in @headlines
      %tr
        %td= image_tag(headline.banner.url(:small), class: "img-responsive-fixed-height", style: "height:50px;") if headline.banner.file?
        %td= headline.title
        %td= I18n.l headline.published_at, format: :datetime if headline.published_at
        %td
          %ul.list-inline
            %li.list-inline-item= link_to fa_icon('edit', title: 'Modifier'), [:edit, :admin, headline]
            %li.list-inline-item= link_to fa_icon('trash-alt', title: 'Supprimer'), [:admin, headline], method: :delete, data: {confirm: 'Voulez-vous vraiment supprimer cette actualité ?'}

.row
  .col-12
    .mt-5.d-flex.justify-content-center
      = will_paginate @headlines
