%h2.no-top= @page_title = @startup.present? ? "Vos offres d'emploi" : "Toutes les offres d'emploi"
= link_to 'Ajouter une nouvelle offre d\'emploi', new_admin_job_offer_path, class: "btn btn-primary"
- if @job_offers.any?
  %table.table.table-condensed.table-hover.table-striped
    %thead
      %tr
        %th Nom
        %th Ajouté
        %th Modifié
        %th Fin de publication
        %th Publié ?
        %th
    %tbody
      - for job_offer in @job_offers
        %tr
          %td= job_offer.title
          %td= I18n.l job_offer.created_at, format: :datetime
          %td= I18n.l job_offer.updated_at, format: :datetime
          %td= I18n.l job_offer.end_publishing_on, format: :added_on_short if job_offer.end_publishing_on.present?
          %td= job_offer.is_published? ? "oui" : "non"
          %td
            %ul.list-inline
              %li=# link_to fa_icon('external-link', title: 'Voir la fiche public'), job_offer, target: '_blank'
              %li= link_to fa_icon('edit', title: 'Modifier'), [:edit, :admin, job_offer]
              %li= link_to fa_icon('trash', title: 'Supprimer'), [:admin,  job_offer], method: :delete, data: {confirm: 'Voulez-vous vraiment supprimer cette offre d\'empoi ?'}
- else
  %em{style: "display:block;margin-top:10px;"} Vous n'avez encore publié aucune annonce.
