- extra_klass = controller.controller_name != 'welcome' && 'mb-5'
%header.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.bg-white.box-shadow{class: extra_klass}
  .mr-md-auto
    = link_to root_path, class: "brand" do
      = image_tag(asset_pack_path("images/logo.svg"))
  %nav.my-2.my-md-0.mr-md-3
    = link_to I18n.t("views.nav.headlines"), headlines_path, class: "p-2 text-dark"
    = link_to I18n.t("views.nav.startups"), startups_path, class: "p-2 text-dark"
    - page_about = Page.where(code: "about").first
    - if page_about
      = link_to page_about.title, extra_page_path(page_about), class: "p-2 text-dark"
