= link_to new_startup_path, class: "btn btn-info btn-block btn-raised mt-4" do
  = I18n.t("views.nav.startup_add")
- unless controller.controller_name == "welcome"
  - headline_focus = Headline.where(is_focus: true).desc(:published_at).first
  - headline_focus ||= Headline.desc(:published_at).first
  - if headline_focus
    %h3.mt-5.mb-3= t('.last_headline')
    = render partial: "headlines/card", locals: {headline: headline_focus, card_klass: ''}
.card.fb-page.mt-5{data: {href: "https://www.facebook.com/StrasbourgStartups", height: 500, tabs: "timeline", small: {header: "true"}, adapt: {container: {width: "true"}}, hide: {cover: "false"}, show: {facepile: "true"}}}
  %blockquote{cite: "https://www.facebook.com/StrasbourgStartups", class: "fb-xfbml-parse-ignore"}
    = link_to "French Tech Strasbourg", "https://www.facebook.com/StrasbourgStartups"

/ tweet wall
