%h1.no-top= t("views.welcome.show.latest_headlines")
.row{style: "margin-top:20px;"}
  = render @headlines
= link_to headlines_path, class: "btn btn-primary", style: "margin-top:20px;" do
  = t("views.welcome.show.link_to_all_headlines")
  = fa_icon "angle-right"

%h1{style: "margin-top:60px;"}= t("views.welcome.show.latest_startups")
.row
  = render @startups
= link_to startups_path, class: "btn btn-primary", style: "margin-top:20px;" do
  = t("views.welcome.show.link_to_all_startups")
  = fa_icon "angle-right"
