%section.bg-white.py-5
  .container
    .row
      .col-12
        %h1.mb-0= t("views.welcome.show.latest_headlines")
        .card-deck.headlines-list
          = render partial: "headlines/card", collection: @headlines, as: :headline
        .text-center
          = link_to headlines_path, class: "btn btn-primary btn-raised mt-4" do
            = t("views.welcome.show.link_to_all_headlines")

%section
  .container
    .row
      .col-12
        %h1.mt-5.mb-0= t("views.welcome.show.latest_startups")
        .card-deck.startups-list
          = render @startups
        .text-center
          = link_to startups_path, class: "btn btn-primary btn-raised mt-4" do
            = t("views.welcome.show.link_to_all_startups")
