.row
  .col-xs-12.headline
    %h1.no-top= link_to headline.title, headline
    %small.text-muted.text-xs-italic{style: "display:block;margin-bottom:10px;"}
      = l(headline.published_at, format: :published_at, link: headline_path(headline)).html_safe
      - if headline.tags.any?
        = "dans #{ headline.tags.map{|tag| link_to "##{tag}", headlines_path(tag: tag)}.join(", ") }".html_safe
    = link_to image_tag(headline.banner.url(:medium), class: "img-responsive", style: "margin:20px 0;"), headline if headline.banner.file?
    .clearfix
    - if controller.action_name == "index"
      = strip_tags(headline.chapo)
      .clearfix
      = link_to t("views.welcome.show.read_more"), headline, class: "btn btn-transparent"
    - else
      = headline.body.html_safe

- if controller.controller_name == "headlines"
  .row
    .col-xs-12
      %hr
- if controller.controller_name == "headlines" && controller.action_name == "show"
  .row
    .col-xs-12
      = render partial: "disqus"
