.row.mt-5.headline
  .col-12
    = link_to headline do
      .h2= headline.title
    %small.text-muted.d-block
      = strip_tags(l(headline.published_at, format: :published_at))
    - if headline.tags.any?
      %small.text-muted.d-block
        = headline.tags[I18n.locale].map{|tag| link_to "##{tag}", headlines_path(tag: tag)}.join(" ").html_safe
    - if headline.banner.file?
      = link_to headline do
        = image_tag(headline.banner.url(:medium), class: "img-fluid my-5 d-block")
    = strip_tags(headline.chapo)
    .d-block
      = link_to t("views.welcome.show.read_more"), headline, class: "btn btn-transparent mt-2"
.row
  .col-12
    %hr
