.row
  .col-xs-12.headline
    = link_to headline do
      %h1.no-top= headline.title
    %em{style: "display:block;margin-bottom:10px;"}= l(headline.published_at, format: :published_at, link: headline_path(headline)).html_safe
    - if controller.action_name == "index"
      = strip_tags(headline.chapo)
      = image_tag headline.banner.url(:medium), class: "img-responsive", style: "margin:20px 0;" if headline.banner.file?
      %br
      = link_to t("views.welcome.show.read_more"), headline, class: "btn btn-transparent", style: "margin-top:10px;"
    - else
      = image_tag headline.banner.url(:medium), class: "img-responsive", style: "margin:20px 0;" if headline.banner.file?
      %br
      = @headline.body.html_safe
.row
  .col-xs-12
    %hr
- unless controller.action_name == "index"
  .row
    .col-xs-12
      = render partial: "disqus"
