.container
  .row-fluid
    .span12
      %h1{style: "text-align: center; margin: 20px 0;"}
        %em= @page_title
  - @headlines.each do |headline|
    .row-fluid
      %article.span6.en
        = link_to headline do
          %h2= headline.title_en
        .clearfix
        .time
          .day= headline.published_at.strftime("%d")
          .month= headline.published_at.strftime("%b")
          .year= headline.published_at.strftime("%Y")
        .body
          :markdown
            #{ headline.body_en }
      %article.span6.fr
        = link_to headline do
          %h2= headline.title_fr
        .clearfix
        .time
          .day= headline.published_at.strftime("%d")
          .month= headline.published_at.strftime("%b")
          .year= headline.published_at.strftime("%Y")
        .body
          :markdown
            #{ headline.body_fr }
    - unless headline == @headlines.last
      .row-fluid
        %hr.span12
