- @page_title = @headline.title
- @og_image = @headline.banner.url if @headline.banner.file?
.container
  .row
    .col-12.col-md-8.mx-md-auto.col-lg-9
      .row
        .col-12
          = link_to headlines_path, class: "btn btn-transparent" do
            = fa_icon "angle-left"
            &nbsp;
            = t("views.common.return_headlines_list")
      .row
        .col-12
          .text-muted.mt-3.mb-0
            = strip_tags(l(@headline.published_at, format: :published_at))
          %h1.display-4.mt-0{class: @headline.tags.any? ? 'mb-2' : 'mb-3'}
            = @headline.title
          - if @headline.tags.any?
            %small.text-muted.d-block.mb-3
              = @headline.tags[I18n.locale].map{|tag| link_to "##{tag}", headlines_path(tag: tag)}.join(" ").html_safe
          = image_tag(@headline.banner.url(:medium), class: "img-fluid", style: "margin:20px 0;") if @headline.banner.file?
          = @headline.body.html_safe
      .row
        .col-12
          = render partial: "disqus"
