- @page_title = @user.new_record? ? "Ajouter un nouvel utilisateur" : "Modifier un utilisateur"

- ary = @user.new_record? ? [:create_invitation, :admin, @user] : [:admin, @user]
= simple_nested_form_for ary do |f|

  =# link_to 'Retour', {action: :index}, class: "btn btn-link"
  .row
    .col-12.col-md-8
      .form-group.bmd-form-group.bmd-form-group-lg
        = f.text_field :email, class: 'form-control form-control-lg', placeholder: 'Ajoutez une adresse email'
      .row
        .col-12.col-md-6
          .form-group.bmd-form-group.bg-light
            = f.text_field :first_name, class: 'form-control', placeholder: 'Ajoutez un prénom'
        .col-12.col-md-6
          .form-group.bmd-form-group.bg-light
            = f.text_field :last_name, class: 'form-control', placeholder: 'Ajoutez un nom'
    .col-12.col-md-4
      = f.submit "Enregistrer", class: "btn btn-raised btn-primary "
  .row
    .col-12.col-md-8
      %label.mb-2.mt-3 Startups associées à ce compte :
      = f.input :startup_ids, collection: Startup.order(name: :desc), input_html: {multiple: true}, label: false, wrapper_html: {class: 'bg-light'}
    .col-12.col-md-4
      .checkbox.form-group.bmd-form-group
        %label
          = f.check_box :is_admin
          %span.checkbox-decorator
            %span.check
          Admin ?

