.container
  .row-fluid
    %article.span6.en
      %h1 About
      %p
        "Strasbourg Startups" is a community initiative launched by <a href="http://www.alsacedigitale.org">Alsace Digitale</a> in 2013 to gather and foster the emerging startup scene of <a href="http://www.strasbourg.eu">Strasbourg, France</a>. Our goal is to build an entrepreneurial community. We know it will take some time. We know we're engaged in a marathon not a 100 meters sprint.
      %p
        As for now, the initiative is made of 3 main points:
        %ul
          %li
            %strong A "Demo Night" every semester.
            A "Demo Night" is a moment dedicated to young startups wanting to demo their products. We can gather a large audience made of students, other startuppers, IT professionals, people working in some key public institutions and Business Angels.
          %li
            %strong Bi-monthly conference
            which can either be about a technical aspect of a startup (like "how to raise funds" or "how to protect your IP in northern america") or an inpirational talk from a member of the french or international startup scene.
          %li
            %strong Monthly meeting of the "Founder's Club".
            Every month, we'll held a private meeting where every startups founders can discuss freely and privately about their strategies, their failures and their successes!
      %p
        Our manifesto comes from the <a href="http://youtu.be/zXD5vt0xhyI">4 points plan of Brad Feld</a>:
        %ol
          %li
            Two types of people: leaders (entrepreneurs) and feeders (people who support startups, such as government agencies, funders, service providers). While the "feeders" are the very fabric of the community, the entrepreneurs must be in the lead.
          %li
            A long-term view and commitment to building the community
          %li
            A philosophy of inclusiveness that welcomes everyone with an interest, not just entrepreneurs
          %li
            Substantive activities that engage the entire community to help startups move forward
      %p
        Check the
        = link_to "latest news", headlines_path
        and join us at the next "Strasbourg Startups" meetup!
      %br
      %p
        Contact:
        = link_to "hello@strasbourg-startups.com", "mailto:hello@strasbourg-startups.com"
        or ping
        = link_to "@yannski", "http://twitter.com/yannski"
        .
    %article.span6.fr
      %h1 A propos
      %p
        "Strasbourg Startups" est une initiative lancée par <a href="http://www.alsacedigitale.org">Alsace Digitale</a> en 2013 afin de rassembler, promouvoir et développer la communauté startup de <a href="http://www.strasbourg.eu">Strasbourg en France</a>. Notre ambition est de créer une communauté de bonnes pratiques entrepreneuriales. Nous savons que cela va prendre du temps. Nous savons que ça sera plus du ressort du marathon que du sprint.
      %p
        A ce jour, notre initative se décline en 3 points :
        %ul
          %li
            %strong Une "Demo Night" par semestre.
            Les "Demo Night" sont des événements dédiés aux startups désireuses de démontrer leur produit ou service. L'audience est composé d'édudiants, d'autres startuppers, des professionels du numériques, d'institutions publiques ou de Business Angels.
          %li
            %strong Des "meetups" mensuelles.
            Elles peuvent traiter d'un sujet technique (comme "comment lever des fonds" ou "comment protéger sa marque aux USA") ou être plus inspirant au travers du témoignage d'un membre de la communauté startup internationale.
          %li
            %strong Des rencontres mensuelles du "Founder's Club".
            Chaque mois, les fondateurs du groupe "Strasbourg Startups" se rencontrent, en privé, pour parler librement de leurs problèmatiques actuelles, de leurs conquêtes, de leurs succès ou de leurs défaites !
      %p
        Notre manifeste est celui du <a href="http://youtu.be/zXD5vt0xhyI">"4 points plan"</a> de Brad Feld :
        %ol
          %li
            Deux types de membres : les leaders (les entrepreneurs) et les supporters (les institutionnels, les investisseurs, les fournisseurs de service). Tandis que les supporters constituent une pièce importante de la communauté, ce sont bien les entrepreneurs qui dirigent la manoeuvre.
          %li
            Une vision à (très) long terme pour construire la communauté
          %li
            Une philosophie d'ouverture : tous les gens intéressés sont les bienvenus, pas seulement les entrepreneurs
          %li
            Des activités substantielles et régulières pour engager la communauté et la faire avancer
      %p
        Consulter nos
        = link_to "dernières actualités", headlines_path
        et rejoignez nous lors du prochain meetup "Strasbourg Startups" !
      %br
      %p
        Contact:
        = link_to "hello@strasbourg-startups.com", "mailto:hello@strasbourg-startups.com"
        ou contacter
        = link_to "@yannski", "http://twitter.com/yannski"
        .
