.container-narrow
  .row-fluid
    .span12
      %h1= @page_title
      %p
        "Strasbourg Startups" is a community initiative launched by <a href="http://www.alsacedigitale.org">Alsace Digitale</a> in 2013 to gather and foster the emerging startup scene of <a href="http://www.strasbourg.eu">Strasbourg, France</a>.
      %p
        The initiative is made of 3 main points:
        %ul
          %li
            %strong A "Demo Night" every semester.
            A "Demo Night" is a moment dedicated to young startups wanting to demo their products. We can gather a large audience made of students, other startuppers, IT professionals, people working in some key public institutions and Business Angels.
          %li
            %strong Bi-monthly conference
            which can either be about a technical aspect of a startup (like "how to raise funds" or "how to protect your IP in northern america") or an inpirational talk from a member of the french or international startup scene.
          %li
            %strong Monthly meeting of the "Founder's Club".
            Every month, we'll held a private meeting where every startups founders can discuss freely and privately about their strategies, their failures and their successes!
      %p
        Check the
        = link_to "latest news", headlines_path
        and join us at the next "Strasbourg Startups" meetup!
      %br
      %p
        Contact:
        = link_to "contact@strasbourg-startups.com", "mailto:contact@strasbourg-startups.com"
        or ping
        = link_to "@yannski", "http://twitter.com/yannski"
        or
        = link_to "@sebmade", "http://twitter.com/sebmade"
      %br
      %p
        Website developped by
        = link_to "Novelys", "http://www.novelys.com"
        , hosted by
        = link_to "Appsdeck.eu", "http://www.appsdeck.eu"
