%footer
  .container
    .row
      .col-xs-12
        .pull-left
          %ul.list-inline
            %li= link_to fa_icon("facebook"), "https://www.facebook.com/StrasbourgStartups"
            %li= link_to fa_icon("twitter"), "https://twitter.com/SXBStartups"
            %li= link_to fa_icon("rss"), headlines_path(format: "rss")
        .pull-right.text-right
          %p= t("views.footer.signature").html_safe
          %ul.list-inline
            %li
              = link_to "Connexion", admin_root_path
    .row
      .col-xs-12.text-center
        %ul.list-inline
          %li
            %small= t("views.footer.web_development").html_safe
          %li
            %small= t("views.footer.hosting").html_safe
