!!! 5
%html{lang: 'fr'}
  %head
    %title= @page_meta_title.present? ? @page_meta_title : ["Strasbourg Startups Extranet", @page_title].compact.join(" - ")
    %meta{content: "text/html; charset=UTF-8", http: {equiv: "Content-Type"}}
    %meta{charset: "utf-8"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    = stylesheet_pack_tag 'admin-style', media: 'all'
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500"
  %body
    - if user_signed_in?
      %nav.navbar.bg-primary
        .container
          .navbar-header
            %button.navbar-toggler.hidden-sm-up{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              = fa_icon "bars", style: "color:white;"
            = link_to "Strasbourg Startups", admin_root_path, class: "navbar-brand"
          #navbarResponsive.collapse.navbar-toggleable-sm
            %ul.nav.navbar-nav
              %li.nav-item{class: controller.controller_name == "startups" ? "active" : nil}
                = link_to I18n.t("views.nav.startups"), admin_startups_path, class: "nav-link"
              %li.nav-item{class: controller.controller_name == "job_offers" ? "active" : nil}
                = link_to I18n.t("views.nav.job_offers"), admin_job_offers_path, class: "nav-link"
              - if current_user.is_admin?
                %li.nav-item{class: request.path =~ /headlines/ ? "active" : nil}
                  = link_to I18n.t("views.nav.headlines"), admin_headlines_path, class: "nav-link"
                %li.nav-item{class: request.path =~ /users/ ? "active" : nil}
                  = link_to I18n.t("views.nav.users"), admin_users_path, class: "nav-link"
                %li.nav-item{class: request.path =~ /pages/ ? "active" : nil}
                  = link_to I18n.t("views.nav.pages"), admin_pages_path, class: "nav-link"
            %ul.nav.navbar-nav.pull-right
              %li.nav-item= link_to current_user.email, admin_root_path, class: "nav-link"
              %li.nav-item= link_to fa_icon("sign-out-alt", title: "Déconnexion"), destroy_user_session_path, method: :delete, class: "nav-link"
      .container
        .row
          .col-12
            - if flash[:notice]
              .alert.alert-info= flash[:notice]
            - elsif flash[:error]
              .alert.alert-danger= flash[:error]
            - elsif flash[:success]
              .alert.alert-success= flash[:success]
            = yield
      = javascript_pack_tag 'admin-bundle'
    - else
      .container
        .row
          .col-12.col-md-6.mx-md-auto.col-lg-4.login
            - if flash[:notice]
              .alert.alert-info= flash[:notice]
            - elsif flash[:error]
              .alert.alert-danger= flash[:error]
            - elsif flash[:success]
              .alert.alert-success= flash[:success]
            .card.mt-5
              .card-body
                %h1.h3.no-top.no-bottom{style: "font-family: 'Oswald',sans-serif;font-size: 32px;font-weight: 900;"}
                  Strasbourg Startups
                  %br
                  %small
                    admin
                = yield
