!!!
%html
	%head
		%title Strasbourgstartups
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		- api_key = "AIzaSyAw8mWBLhSsE2dI2t0dLhsZt12I9kSEKK0"
		= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{api_key}&sensor=false"
		= csrf_meta_tags
%body
	= yield
