!!!
%html
  %head
    %title Strasbourg Startups - #{@page_title}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oswald:300.400.700"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans+Mono"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - api_key = "AIzaSyAw8mWBLhSsE2dI2t0dLhsZt12I9kSEKK0"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{api_key}&sensor=false"
    = favicon_link_tag "#{root_url}favicon.png", type: 'image/png'
    = csrf_meta_tags
  %body{class: controller.controller_name == "startups" && controller.action_name == "index" ? "map" : "content"}
    %nav
      = link_to "/", class: "home", title: "Back to the map" do
        %span.icon-home
      = link_to "Strasbourg Startups", "/", class: "brand"
      = link_to "/about", class: "headlines", title: "About" do
        %span.icon-question
      = link_to new_startup_path, class: "headlines", title: "Add a new startup" do
        %span.icon-plus
      = link_to headlines_path, class: "headlines", title: "Latests news" do
        %span.icon-rss
    = yield
