!!!
%html{lang: I18n.locale.to_s.downcase}
  %head
    %title= @page_meta_title.present? ? @page_meta_title : ["French Tech Strasbourg", @page_title].compact.join(" - ")
    %meta{content: "text/html; charset=UTF-8", http: {equiv: "Content-Type"}}
    %meta{charset: "utf-8"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    - if @page_description
      %meta{name: "description", content: @page_description}
    %meta{property: "og:title", content: @og_title || @page_title}
    %meta{property: "og:type", content: "website"}
    - @og_image ||= asset_pack_path('media/images/og_image_default.png')
    %meta{property: "og:image", content: @og_image}
    - description = @og_description || @page_description
    - if description.present?
      %meta{property: "og:description", content: description}
    = stylesheet_pack_tag 'style', media: 'all', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag(asset_pack_path('media/images/favicon.ico'))
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500"
  %body{class: controller.controller_name}
    = render "/shared/facebook_page_plugin"
    = render "/shared/nav"
    - if controller.controller_name == 'welcome'
      %section.hero.py-5.box-shadow.d-flex.flex-column.justify-content-center{style: "background-image: url(#{ asset_pack_path('media/images/background.jpg') })"}
        .text-center
          .title.display-2 French Tech Strasbourg
          .subtitle.mb-0= @page_description
    = yield
    = render partial: "/layouts/footer"
    = javascript_pack_tag 'bundle', 'data-turbolinks-track': 'reload'
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40318795-3', 'strasbourg-startups.com');
      ga('send', 'pageview');
